@CHARSET "UTF-8";

/*body {
	padding: 5%;
}*/
.container-main {
	margin: 5% 10%;
	padding: 20px;
}
form {
	padding-top: 15px;
}

.colWidth5 { width: 5% }
.colWidth8 { width: 8% }
.colWidth10 { width: 10% }
.colWidth20 { width: 20% }

table#dataTable 
	td:nth-of-type(1),
	td:nth-of-type(5),
	td:nth-of-type(6),
	td:nth-of-type(7),
	td:nth-of-type(9) { text-align: right;}

.pagination>li>a, .pagination>li>span {padding: 3px 10px !important;}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].input-xs,
  input[type="time"].input-xs,
  input[type="datetime-local"].input-xs,
  input[type="month"].input-xs,
  .input-group-xs input[type="date"],
  .input-group-xs input[type="time"],
  .input-group-xs input[type="datetime-local"],
  .input-group-xs input[type="month"] {
    line-height: 26px;
  }
}
.form-control-static.input-xs {
  padding-right: 0;
  padding-left: 0;
}
.input-xs {
  height: 26px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-xs {
  height: 26px;
  line-height: 26px;
}
textarea.input-xs,
select[multiple].input-xs {
  height: auto;
}
.form-group-xs .form-control {
  height: 26px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.form-group-xs .form-control {
  height: 26px;
  line-height: 26px;
}
textarea.form-group-xs .form-control,
select[multiple].form-group-xs .form-control {
  height: auto;
}
.form-group-xs .form-control-static {
  height: 26px;
  min-height: 28px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
}
.input-xs + .form-control-feedback {
  width: 26px;
  height: 26px;
  line-height: 26px;
}
.input-group-xs > .form-control,
.input-group-xs > .input-group-addon,
.input-group-xs > .input-group-btn > .btn {
  height: 26px;
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-group-xs > .form-control,
select.input-group-xs > .input-group-addon,
select.input-group-xs > .input-group-btn > .btn {
  height: 26px;
  line-height: 26px;
}
textarea.input-group-xs > .form-control,
textarea.input-group-xs > .input-group-addon,
textarea.input-group-xs > .input-group-btn > .btn,
select[multiple].input-group-xs > .form-control,
select[multiple].input-group-xs > .input-group-addon,
select[multiple].input-group-xs > .input-group-btn > .btn {
  height: auto;
}